Significance level = 0.05; Factor = city; dependent var = temperature

In [ ]:
# Load your data
houston_df = pd.read_csv("/content/merged_climate_data_houston.csv")
la_df = pd.read_csv("/content/merged_climate_data_la.csv")
ny_df = pd.read_csv("/content/merged_climate_data_ny.csv")
miami_df = pd.read_csv("/content/merged_climate_data_miami.csv")
seattle_df = pd.read_csv("/content/merged_climate_data_seattle.csv")
tampa_df = pd.read_csv("/content/merged_climate_data_tampa.csv")

In [ ]:
# Merge Temp cols to a single df
houston_temp = houston_df["Temperature"]
houston_temp.name = "Temperature_Houston"

la_temp = la_df["Temperature"]
la_temp.name = "Temperature_LA"

ny_temp = ny_df["Temperature"]
ny_temp.name = "Temperature_NY"

miami_temp = miami_df["Temperature"]
miami_temp.name = "Temperature_Miami"

seattle_temp = seattle_df["Temperature"]
seattle_temp.name = "Temperature_Seattle"

tampa_temp = tampa_df["Temperature"]
tampa_temp.name = "Temperature_Tampa"

temp_df = pd.concat([houston_temp,
                     la_temp,
                     ny_temp,
                     miami_temp,
                     seattle_temp,
                     tampa_temp],
                     axis = 1)


print("Number of columns:", temp_df.shape[1])
print("\nCount per column:")
print(temp_df.count())

Number of columns: 6

Count per column:
Temperature_Houston    27
Temperature_LA         27
Temperature_NY         27
Temperature_Miami      27
Temperature_Seattle    27
Temperature_Tampa      27
dtype: int64

**Normality Test: Shapiro Wilk Test**

**Check if the distribution of the temperature for each city is normal**

**Test for Homogeneity: Levene Test (Non-parametric)**

In [ ]:

import pandas as pd
from scipy.stats import levene

# df = pd.read_csv("/content/qbmult_dataset.csv")

# Split groups
# arms_male = df[df["SEX"] == 1]["ARMS"]
# arms_female = df[df["SEX"] == 2]["ARMS"]

# Levene test
stat, p = levene(temp_df['Temperature_Houston'],
                 temp_df['Temperature_LA'],
                 temp_df['Temperature_Miami'],
                 temp_df['Temperature_NY'],
                 temp_df['Temperature_Seattle'],
                 temp_df['Temperature_Tampa'])
print("Levene statistic:", stat)
print("p value:", p)

Levene statistic: 1.0637755753299467
p value: 0.38265237626791504

**Test for Homogeneity: Bartlett's Test (Parametric)**

In [ ]:
from scipy.stats import shapiro
# Drop the first column
# df2 = df.drop(df.columns[0], axis=1)

# Select numeric columns
numeric_cols = temp_df.select_dtypes(include='number').columns

# Run Shapiro-Wilk test
results = {}

for col in numeric_cols:
    stat, p = shapiro(temp_df[col])
    results[col] = {"W_statistic": stat, "p_value": p}

# Print results
for col, res in results.items():
    print(f"{col}: W={res['W_statistic']:.4f}, p={res['p_value']:.4g}")

Temperature_Houston: W=0.9665, p=0.5118
Temperature_LA: W=0.9655, p=0.4891
Temperature_NY: W=0.9652, p=0.4809
Temperature_Miami: W=0.9620, p=0.4093
Temperature_Seattle: W=0.9846, p=0.9485
Temperature_Tampa: W=0.9774, p=0.7989

In [ ]:

from scipy.stats import bartlett

stat, p = bartlett(temp_df['Temperature_Houston'],
                    temp_df['Temperature_LA'],
                    temp_df['Temperature_Miami'],
                    temp_df['Temperature_NY'],
                    temp_df['Temperature_Seattle'],
                    temp_df['Temperature_Tampa'])
print("Bartlett statistic:", stat)
print("p value:", p)

Bartlett statistic: 4.801379589633655
p value: 0.44059796824526565

**T-test** (Not used)

In [ ]:

# import pandas as pd
# from scipy.stats import ttest_ind

# # Load your dataset
# df = pd.read_csv("/content/qbmult_dataset.csv")

# # Drop missing values if any
# df = df.dropna(subset=["ARMS", "SEX"])

# # Split data by gender
# arms_male = df[df["SEX"] == 1]["ARMS"]
# arms_female = df[df["SEX"] == 2]["ARMS"]

# # Run independent samples t-test
# t_stat, p_value = ttest_ind(arms_male, arms_female, equal_var=False)   # Welch version

# print("t statistic:", t_stat)
# print("p value:", p_value)

t statistic: 15.585022528601815
p value: 2.621630951194982e-40

**Mann-Whitney U test (Non-parametric)**

Null hypothesis (H₀): The distributions of both populations are identical.

Alternative hypothesis (H₁): The distributions of the two populations are not identical.

(Not used)

In [ ]:

# from scipy.stats import mannwhitneyu

# # Split the data
# group1 = df[df["SEX"] == 1]["ARMS"].dropna()
# group2 = df[df["SEX"] == 2]["ARMS"].dropna()

# # Mann Whitney U test
# u_stat, p_value = mannwhitneyu(group1, group2, alternative="two-sided")

# print("U statistic:", u_stat)
# print("p value:", p_value)

In [ ]:

import pandas as pd
from scipy.stats import f_oneway

In [ ]:
# Not used
# df = pd.read_csv("/content/qbmult_dataset.csv")

# # Extract ARMS variable by IPAQ groups
# arms_0 = df[df["IPAQ"] == 0]["ARMS"]
# arms_1 = df[df["IPAQ"] == 1]["ARMS"]
# arms_2 = df[df["IPAQ"] == 2]["ARMS"]

# groups = df.groupby("IPAQ")

# print("\nNormality test by IPAQ:")
# for name, group in groups:
#     data = group["ARMS"].dropna()
#     n=len(data)
#     stat, p = shapiro(group["ARMS"])
#     print(f"IPAQ = {name}: n = {n}, W = {stat:.4f}, p = {p:.4g}")

**Kruskal-Wallis test**
Non-parametric equivalent of one way ANOVA

In [ ]:

import pandas as pd
from scipy.stats import kruskal

# Load your data
# df = pd.read_csv("/content/qbmult_dataset.csv")

# Drop missing values
# df = df.dropna(subset=["ARMS", "IPAQ"])

# Split into groups
# group0 = df[df["IPAQ"] == 0]["ARMS"]
# group1 = df[df["IPAQ"] == 1]["ARMS"]
# group2 = df[df["IPAQ"] == 2]["ARMS"]

# Run Kruskal Wallis
stat, p = kruskal(temp_df['Temperature_Houston'],
                    temp_df['Temperature_LA'],
                    temp_df['Temperature_Miami'],
                    temp_df['Temperature_NY'],
                    temp_df['Temperature_Seattle'],
                    temp_df['Temperature_Tampa'])

print("Kruskal Wallis statistic:", stat)
print("p value:", p)

Kruskal Wallis statistic: 154.34326373635622
p value: 1.5876333998812652e-31

In [ ]:

!pip install scikit-posthocs

In [ ]:


import scikit_posthocs as sp

cols = [temp_df[col] for col in temp_df.columns]
sp.posthoc_dunn(cols, p_adjust="bonferroni")

,1,2,3,4,5,6
1,1.000000e+00,4.436392e-01,9.546892e-05,4.595407e-04,9.496849e-09,6.939830e-01
2,4.436392e-01,1.000000e+00,2.906706e-01,3.349200e-09,9.254252e-04,4.595407e-04
3,9.546892e-05,2.906706e-01,1.000000e+00,5.802999e-17,1.000000e+00,1.151040e-09
4,4.595407e-04,3.349200e-09,5.802999e-17,1.000000e+00,6.235347e-24,4.436392e-01
5,9.496849e-09,9.254252e-04,1.000000e+00,6.235347e-24,1.000000e+00,4.440995e-15
6,6.939830e-01,4.595407e-04,1.151040e-09,4.436392e-01,4.440995e-15,1.000000e+00

In [ ]:
# Not used
# # -*- coding: utf-8 -*-
# """ANOVA

# Automatically generated by Colab.

# Original file is located at
#     https://colab.research.google.com/drive/1Tx1mQqVHxj0_Y63uhd1lbhGZKA3_3PMX
# """

# import pandas as pd
# import statsmodels.api as sm
# from statsmodels.formula.api import ols

# # Dataset
# IRON_FORM = pd.DataFrame({
#     "score": [20.5, 28.1, 27.8, 27.0, 28.0,
# 25.2, 25.3, 27.1, 20.5, 31.3,26.3, 24.0, 26.2, 20.2, 23.7,
# 34.0, 17.1, 26.8, 23.7, 24.9,29.5, 34.0, 27.5, 29.4, 27.9,
# 26.2, 29.9, 29.5, 30.0, 35.6,36.5, 44.2, 34.1, 30.3, 31.4,
# 33.1, 34.1, 32.9, 36.3, 25.5],
#     "group": ["Type 1"]*10 + ["Type 2"]*10 + ["Type 3"]*10+["Type 4"]*10
# })

# # Fit model
# model = ols('score ~ C(group)', data=IRON_FORM).fit()

# # ANOVA table
# anova_table = sm.stats.anova_lm(model, typ=2)
# print(anova_table)

# # Compute group means
# means = IRON_FORM.groupby('group')['score'].mean().reset_index()
# means = means.rename(columns={'score': 'mean'})

# print("\nGroup Means:")
# print(means)


# from statsmodels.stats.multicomp import pairwise_tukeyhsd
# tukey = pairwise_tukeyhsd(IRON_FORM['score'], IRON_FORM['group'])
# print(tukey)

# import pandas as pd
# from scipy.stats import shapiro

In [ ]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
import pandas as pd # Ensure pandas is imported for melt

# Reshape the DataFrame to a long format suitable for ANOVA
df_melted = temp_df.melt(var_name='city', value_name='temperature')

# Fit the ANOVA model
model = ols('temperature ~ C(city)', data=df_melted).fit()

# Generate ANOVA table
anova_table = sm.stats.anova_lm(model, typ=2)

print("ANOVA Table:")
print(anova_table)

ANOVA Table:
               sum_sq     df            F         PR(>F)
C(city)   4733.636675    5.0  2601.059804  2.989539e-148
Residual    56.780495  156.0          NaN            NaN

In [ ]:
# Already done
# from scipy.stats import bartlett

# # # Bartlett test for equal variances across IPAQ groups
# # stat, p = bartlett(arms_0, arms_1, arms_2)

# # print("Bartlett statistic:", stat)
# # print("p value:", p)

# # # Levene test for equal variances
# # stat, p = levene(arms_0, arms_1, arms_2)

# # print("Levene statistic:", stat)
# # print("p value:", p)

f_stat, p_val = f_oneway(temp_df['Temperature_Houston'],
                    temp_df['Temperature_LA'],
                    temp_df['Temperature_Miami'],
                    temp_df['Temperature_NY'],
                    temp_df['Temperature_Seattle'],
                    temp_df['Temperature_Tampa'])

print("F statistic:", f_stat)
print("p value:", p_val)

F statistic: 2601.0598038723783
p value: 2.9895393735450893e-148

In [ ]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Reshape the DataFrame to a long format suitable for Tukey HSD
df_melted = temp_df.melt(var_name='city', value_name='temperature')

# Perform Tukey's test
tukey = pairwise_tukeyhsd(endog=df_melted['temperature'],
                          groups=df_melted['city'],
                          alpha=0.05)

print(tukey)

              Multiple Comparison of Means - Tukey HSD, FWER=0.05
===============================================================================
       group1              group2       meandiff p-adj  lower    upper   reject
-------------------------------------------------------------------------------
Temperature_Houston      Temperature_LA   -2.921   0.0  -3.3948  -2.4473   True
Temperature_Houston   Temperature_Miami    4.485   0.0   4.0112   4.9587   True
Temperature_Houston      Temperature_NY  -9.1175   0.0  -9.5913  -8.6437   True
Temperature_Houston Temperature_Seattle -10.2009   0.0 -10.6746  -9.7271   True
Temperature_Houston   Temperature_Tampa   1.6488   0.0    1.175   2.1226   True
     Temperature_LA   Temperature_Miami    7.406   0.0   6.9322   7.8798   True
     Temperature_LA      Temperature_NY  -6.1964   0.0  -6.6702  -5.7227   True
     Temperature_LA Temperature_Seattle  -7.2798   0.0  -7.7536   -6.806   True
     Temperature_LA   Temperature_Tampa   4.5698   0.0    4.096   5.0436   True
  Temperature_Miami      Temperature_NY -13.6024   0.0 -14.0762 -13.1286   True
  Temperature_Miami Temperature_Seattle -14.6858   0.0 -15.1596  -14.212   True
  Temperature_Miami   Temperature_Tampa  -2.8362   0.0    -3.31  -2.3624   True
     Temperature_NY Temperature_Seattle  -1.0834   0.0  -1.5572  -0.6096   True
     Temperature_NY   Temperature_Tampa  10.7663   0.0  10.2925  11.2401   True
Temperature_Seattle   Temperature_Tampa  11.8496   0.0  11.3759  12.3234   True
-------------------------------------------------------------------------------

In [ ]:

# Not used
# !pip install pingouin

**Welch ANOVA**
Not used

In [ ]:

# import pingouin as pg

# # Welch ANOVA: ARMS by IPAQ
# welch = pg.welch_anova(dv="ARMS", between="IPAQ", data=df)

# print(welch)

In [ ]:


# import pingouin as pg

# gh = pg.pairwise_gameshowell(dv="ARMS", between="IPAQ", data=df)
# print(gh)

Since a difference was shown, averaging is not possible here